<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="class28.androidchallenge01kotlin">

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="class28.androidchallenge01kotlin.ActSplash"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="class28.androidchallenge01kotlin.ui.login.ActLoginRegister" />
        <activity android:name=".ui.restaurants.ActRestaurantsList" />
        <activity android:name=".ui.plates.ActRestaurantPlates" />
        <activity android:name=".ui.platesdetails.ActPlateDetails" />

    </application>
</manifest>
