<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rafaelmfer.codeclasses">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="androidstudio.ActivityManager">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="androidstudio.class18.java.ProductWithDiscountActivity"
            android:label="@string/product" />
        <activity
            android:name="androidstudio.class18.kotlin.ProductWithDiscountAct"
            android:label="@string/product" />
        <activity
            android:name="androidstudio.class20.java.RegisterActivity"
            android:theme="@style/AppThemeNoActionBar" />
        <activity
            android:name="androidstudio.class20.kotlin.RegisterAct"
            android:theme="@style/AppThemeNoActionBar" />
        <activity android:name="androidstudio.class21.java.TelephoneBookActivity" />
        <activity android:name="androidstudio.class21.java.TelephoneContactActivity" />
        <activity android:name="androidstudio.class21.kotlin.TelephoneBookAct" />
        <activity android:name="androidstudio.class21.kotlin.TelephoneContactAct" />
        <activity android:name="androidstudio.class23.java.Class23Activity" />
        <activity android:name="androidstudio.class23.kotlin.Class23Act" />
        <activity android:name="androidstudio.class24.java.Class24Activity" />
        <activity android:name="androidstudio.class24.java.Class24Activity2" />
        <activity android:name="androidstudio.class24.kotlin.ActClass24" />
        <activity android:name="androidstudio.class24.kotlin.Act2Class24" />
        <activity android:name="androidstudio.class26.java.ActivityNavDrawerSimples" />
        <activity android:name="androidstudio.class26.kotlin.ActNavDrawerSimples" />
        <activity android:name="androidstudio.class27.java.ui.ActivityClass27StudentsList" />
        <activity android:name="androidstudio.class27.kotlin.ui.ActClass27StudentsList" />
        <activity android:name="androidstudio.class29.java.ActivityViewPagerTabLayout" />
        <activity android:name="androidstudio.class29.kotlin.ActViewPagerTabLayout" />
        <activity android:name="androidstudio.class38mvvm.kotlin.ActArchitecture" />

        <activity
            android:name="androidstudio.googlemaps.kotlin.ActGoogleMaps"
            android:label="@string/title_activity_maps" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>